.is-flex-row-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.is-flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.is-flex-row-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-panel {
    padding: 0 1rem;
    background-color: #00d1b2;
}

.main-content {
    margin-top: 51px;
    background-color: #00d1b2;
}

.account-name-panel .navbar-link {
    width: 100%;
}

.account-name-panel {
    min-width: 10rem;
}

.is-fullheight .hero-body {
    display: block !important;
}

.navbar-item.has-dropdown:hover .navbar-link {
    color: black !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

@media screen and (max-width: 320px) {
    .padding-small-mobile {
        padding: 1rem !important;
    }
}

.contact-card-panel {
    width: 23%;
    margin: .7rem;
}

@media screen and (max-width: 768px) {
    .contact-card-panel {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .contact-card-panel {
        width: 45%;
    }
}

.mark-contact-button {
    position: absolute;
    top: 0;
    right: 5%;
    z-index: 1;
    cursor: pointer;
}

.position-relative {
    position: relative;
}