.is-flex-row-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.is-flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-height {
    height: 100vh;
}

.is-flex-row-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-panel {
    padding: 0 1rem;
    background-color: #00d1b2;
}