<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link href="/css/mystyles.css" rel="stylesheet">
</head>
<body>
<div class="navbar is-fixed-top has-shadow-1 menu-panel">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" title="Home page" href="/homePage">Home</a>
            <a class="navbar-item" title="Contacts" href="/contacts">Contacts</a>
            <a class="navbar-item" title="Category" href="/category">Category</a>
            <a class="navbar-item" title="Create New Contact" href="/createNewContact">Create New Contact</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item is-hoverable has-dropdown">
                <a class="navbar-link">
                    <div>mouck name</div>
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" title="profile" href="/signUp">profile info</a>
                    <a class="navbar-item" title="Sign out" href="/">Sign out</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>